
the style of all buttons on the page
Button{
  color: rgb(0, 38, 255);
 }
 
 /* This is group together within a div, if you edit this it will make 
 changes to all the icons  */
 .qlink{
   /* display: flex;
   flex-direction: column-reverse;
   justify-content: space-between; */
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 150px;
   gap: 2em;
   margin-top: 300px;
   margin-left: 450px;
   position:static;
   
  
 }
 
.qlink:hover {
transform: all 1s;

}



 
 /* These are the start of each icon classes so if you need to make changes to 
 only one then you can do so, look out for text below so you know where it ends */
 .pass{
   margin-top: 13px;
   font-size: larger;
 }
 .hope{
   color: rgba(192, 192, 36, 0.918);
   width: 120px;
   font-size: larger;
 }

 .hope:hover{
  background-color: red;
  transform: scale(1.5s);
}
 .health{
   color: red;
   width: 120px;
   font-size: larger;
  
 }

 .loc{
   color: gray;
   width: 120px;
   font-size: larger;
 }

 .loc:hover{
  background-color: green;
 }
 .staff{
   color: blue;
   width: 120px;
   font-size: larger;
 }
 .train{
   color: green;
   width: 120px;
   font-size: larger;
 }
 .comm{
   color: black;
   width: 120px;
   font-size: larger;

   /* the icons for each quick link ends here */
 }
 
 /* start of the page with the logo, please don't touch this part
 it was hard to center this. unless you can make it better don't touch */
 .head{
 background-color: white;
 border: solid 1px;
 width: 800px;
 height: 100px;
 margin-left: 300px;
 text-align: center;
 vertical-align: middle;
 line-height: 90px;
 font-size: 300%;
 position: static;
 margin-top: 75px;
}


 
 /* the searchbar for the chatbot the iframe will need to be added in html still */
 .co{
   width: 500px;
   height: 50px;
   font-size: 13pt;
   margin-left: 425px;
   text-align: center;
   border: solid purple;
   border-radius: 40px;
   position: relative;
   bottom: 200px;
   border-color: #00adee;
 
 
  }
 
 /* this is the actual pfp icon circle */
 .pro{
   border: 3px solid;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   text-align: center;
   vertical-align: middle;
   line-height: 200px;
   font-size: 25pt;
   margin-left: 300px;
   
 
 }

 /* the text/bio  */
 .bio{
   overflow-wrap: break-word;
   inline-size: 400px;
   margin-left: 550px;
   margin-top: -200px;
 }

 /* This controls the hamburger menu */
 .menu{
  
  font-size: 40pt;
  bottom: 400px;
  position: fixed;
  background-color: #00adee;
  
}

.foot{
  border: solid 1px;
  height: 100px;
  background: black;
  color: white;
}
/* The logo  */
.thres{
width: 750px;
position: relative;
bottom: 220px;
left: 300px;

}

.dropdown-menu{
  color: white;
  border: solid 1px;
  background-color: gray;
  height: 180px;
  width: 150px;
  position: fixed;
  bottom: 100px;
  vertical-align: middle;
  line-height: 50px;
  
}
