
/* the style of all buttons on the page */
/* Button{
  color: rgb(0, 38, 255);
 } */
 
 /* This is group together within a div, if you edit this it will make 
 changes to all the icons  */
 .qlink{
   /* display: flex;
   flex-direction: column-reverse;
   justify-content: space-between; */
     display: grid;
   grid-template-columns: repeat(3, 1fr); 
    width: 150px; 
   gap: 3.5em;
   margin-top: 300px;
   margin-left: 300px;
   position:static;
   
  
 }
 
/* .qlink:hover {
transform: all 1s;

} */



 
 /* These are the start of each icon classes so if you need to make changes to 
 only one then you can do so, look out for text below so you know where it ends */
 .pass{
   margin-top: 13px;
   font-size: larger;
 }
 .hope{
   color: rgba(192, 192, 36, 0.918);
   width: 120px;
   font-size: larger;
 }

 .hope:hover{
  background-color: red;
  transform: scale(1.5s);
}
 .health{
   color: red;
   width: 120px;
   font-size: larger;
  
 }

 .loc{
   color: gray;
   width: 120px;
   font-size: larger;
 }

 .loc:hover{
  background-color: green;
 }
 .staff{
   color: blue;
   width: 120px;
   font-size: larger;
 }
 .train{
   color: green;
   width: 120px;
   font-size: larger;
 }
 .comm{
   color: black;
   width: 120px;
   font-size: larger;

   /* the icons for each quick link ends here */
 }
 
 /* start of the page with the logo, please don't touch this part
 it was hard to center this. unless you can make it better don't touch */
 .head{
 /* background-color: white;
 border: solid 1px; */
 width: 800px;
 height: 100px;
 margin-left: 350px;
 text-align: center;
 vertical-align: middle;
 line-height: 90px;
 font-size: 300%;
 position: static;
 margin-top: 75px;
}


 
 /* the searchbar for the chatbot the iframe will need to be added in html still */
 .co{
   width: 500px;
   height: 50px;
   font-size: 13pt;
   margin-left: 500px;
   text-align: center;
   border: solid purple;
   border-radius: 40px;
   position: relative;
   bottom: 200px;
   border-color: #009BDE
 
 
  }
 
 /* this is the actual pfp icon circle */
 .pro{
   border: 4px solid yellow;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   text-align: center;
   vertical-align: middle;
   line-height: 200px;
   font-size: 25pt;
   margin-left: 300px;
   
 
 }
/* The picture */
.lily{
  width: 202px;
  height: 202px;
  margin-left: 302px;
  border-radius: 50%;
  position: absolute;
  margin-top: 35px;
  
  

}

 /* the text/bio  */
 .bio{
   overflow-wrap: break-word;
   inline-size: 400px;
   margin-left: 550px;
   margin-top: -50px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20pt;
   
 }

.biotext{
font-size: 15pt;
}
.title{
  overflow-wrap: break-word;
  inline-size: 400px;
  margin-left: -50px;
  margin-top: -200px;
 font-weight: bold;
}


 /* This controls the hamburger menu */
 .menu{
  
  font-size: 40pt;
  bottom: 500px;
  position: fixed;
  background-color: #54cef7;
  border-radius: 14px;
  
}

.footertext{
  display: flex;
  order: 4;
  gap: 15pt;
  color: #009BDE;
  position: relative;
  top: 150px;
  font-size: 15pt;
  color: black;

}



.foot{
  border: solid 1px;
  height: 120px;
  background: hsla(196, 100%, 22%, 0.541) ;
  color: #EBEDE8;

  
}


 a, .footertext{
  color: #00516F;
text-decoration: none;
font-weight: bold;

  
}
.social{
display: flex; 
order: 4;
gap: 28pt;
font-size: 15pt;
position: relative;
top: 150px;
margin-left: 20px;
font-size: 20pt;
width: 500px;


}

/* The logo  */
.thres{
width: 750px;
position: relative;
bottom: 220px;
left: 350px;

}

.dropdown-menu{
 margin: 8px;
  color: #ebede8;
  border: solid 4px;
  border-radius: 10px;
  background-color: hsla(196, 100%, 22%, 0.459);
  height: 450px;
  width: 200px;
  position: fixed;
  bottom: 20px;
  vertical-align: middle;
  line-height: 90px;
  font-size: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
/* all the link tags */



/* This is the health */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

}
 
.button-64:active,
.button-64:hover {
  outline: 0;
}
 
.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 18px 50px;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  transition: 300ms;
}
 
.button-64:hover span {
  background: none;
}
 
@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}


/* The end of 64 */

/* hope */
.button-65 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-65:active,
.button-65:hover {
  outline: 0;
}

.button-65 span {
  background-color: rgb(5, 6, 45);
  padding: 18px 90px;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  transition: 300ms;
}

.button-65:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-65 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* the end of 65 */

/* staff */
.button-66 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-66:active,
.button-66:hover {
  outline: 0;
}

.button-66 span {
  background-color: rgb(5, 6, 45);
  padding: 18px 40px;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  transition: 300ms;
}

.button-66:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-66 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* end of 66 */


/* staff */
.button-67 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-67:active,
.button-67:hover {
  outline: 0;
}

.button-67 span {
  background-color: rgb(5, 6, 45);
  padding: 18px 24px;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  transition: 300ms;
}

.button-67:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-67 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* the end of 67 */

/* training */
.button-68 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 200%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 250px;
  
}

.button-68:active,
.button-68:hover {
  outline: 0;
}

.button-68 span {
  background-color: rgb(5, 6, 45);
  padding: 18px 20px;
  border-radius: 7px;
  width: 100%;
  height: 50%;
  transition: 300ms;
}

.button-68:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-68 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* end of 68 */



/* comm */
.button-69 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 300px;
}

.button-69:active,
.button-69:hover {
  outline: 0;
}

.button-69 span {
  background-color: rgb(5, 6, 45);
  padding: 18px 20px;
  border-radius: 6px;
  width: 100%;
  height: 50%;
  transition: 300ms;
}

.button-69:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-69 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* the end of 69 */

/* Making changes to test my new branch */

/* .Chatbot {
 
    width: 360px;
    height: 400px;
    padding: 20px;
    background-color: #EBEDE8;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: absolute;
    margin-top: 500px;
    margin-left: 60px;
  } */
  
.chatlogo {

  width: 500px;
  position: relative;
  margin-left: 490px;

}

.fb{

border: .2px solid transparent;
}

.cats{

  
 position: relative;
 left: 460px;
 margin-top: 100px;
 box-shadow: #00000018;
 border: solid 4px;
 width: 564px;
 height: 319px;
 
}

.signbutton{
 
  background-color:transparent;
  border: red;
cursor: pointer;
width: 50px;
 
}

.bottom{
  position: relative;
  margin-top: 75px;
}